
<p id="notice"><%= notice %></p>
<h1>
  <strong>物件名:</strong>
  <%= @house_information.property_name %>
</h1>

<p>
  <strong>賃料:</strong>
  <%= @house_information.house_rent %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @house_information.adsress %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @house_information.age_of_a_build %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @house_information.remark_column %>
</p>
  <hr>
<% n = 0 %>
  <% @house_information.near_stations.each do |i| %>
  <% if i.station_name.blank? %>
  <% else %>
  <h1>最寄り<%= n+=1 %></h1>
  <p>
  <strong>路線名:</strong>
  <%= i.route_name %>
  </p>
  <p>
  <strong>駅名:</strong>
  <%= i.station_name %>
  </p>
  <p>
  <strong>徒歩分数:</strong>
  <%= i.minutes_on_foot %>分
  </p>
  <% end %>
<% end %>

<%= link_to '編集', edit_house_information_path(@house_information) %> |
<%= link_to '戻る', house_informations_path %>
